/* Pledge Form */
#pledge-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f2f2f2;
}
#pledge-form h1 {
  text-align: center;
  margin: 0 0 10px 0;
}
#pledge-form input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  padding: 10px;
}
#pledge-form input[type=submit] {
  border: 0;
  background: #4367c4;
  color: #fff;
}
.pledge {
  text-align: center;
}
