/* Style sheet */
b {
  font-family: Arial, Helvetica, sans-serif;
}
a li {
  font-family: "Noto Sans JP", sans-serif;
  color: white;
}
h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 48px;
  color: turquoise;
}
h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  color: turquoise;
}
h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  color: rgb(48, 73, 182);
}
.root {
  background-color: hsl(252, 24%, 96%);
}
.nav {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
  background: #0cc5e6;
  max-height: 3em;
  max-width: 100%;
  border: 0.05px solid;
  padding: 1px;
  margin: 1px;
  border-radius: 10px;
}
.banner {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: stretch;
  max-height: 180em;
  max-width: 100%;
  border: 0.05px solid;
  padding-bottom: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}
.find-search {
  background-color: rgb(58, 146, 95);
  display: flex;
  max-height: 20vh;
  max-width: 100%;
  padding-bottom: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}
#search-form {
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-items: stretch;
  padding: 4px 8px;
}
.spacer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  max-height: 5vh;
  max-width: 100%;
  border: 0.05px solid;
  padding-bottom: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}
.section2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  max-height: 60vh;
  max-width: 100%;
  border: 0.05px solid;
  padding-bottom: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
  flex-shrink: initial;
}
.section3 {
  background-color: rgb(121, 121, 163);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: stretch;
  min-height: 150px;
  max-height: 250px;
  max-width: 100%;
  border: 0.05px solid;
  padding: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}
.box_font {
  color: white;
  align-items: flex-start;
  align-content: flex-start;
  font-family: "Noto Sans JP", sans-serif;
  /*font-family: 'Noto Serif', serif;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;*/
}
.section4 {
  background-color: salmon;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: stretch;
  max-height: 20vh;
  max-width: 100%;
  padding-bottom: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}
.footer {
  background-color: indianred;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
  max-height: 10vh;
  max-width: 100%;
  padding-bottom: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}
.footer_image {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  max-height: 25vh;
  max-width: 100%;
  border: 0.05px solid;
  padding: 1px;
  margin: 1px;
  border-radius: 10px;
}
@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}
/* in HTML: <ul class="hidden--mobile"> */
@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
}

/* Login form*/
#login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 10px;
}
#login-form h1 {
  text-align: center;
  margin: 0 0 10px 0;
}
#login-form input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
#login-form input[type="submit"] {
  border: 0;
  background: #4367c4;
  color: #fff;
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}
.signin {
  text-align: center;
}

/* Register Form*/
#register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 10px;
}
#register-form h1 {
  text-align: center;
  margin: 0 0 10px 0;
}
#register-form input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
#register-form input[type="submit"] {
  border: 0;
  background: #4367c4;
  color: #fff;
  border-radius: 10px;
}
/* Pledge Form*/
#pledge-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 10px;
}
#pledge-form h1 {
  text-align: center;
  margin: 0 0 10px 0;
}
#pledge-form input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
#pledge-form input[type="submit"] {
  border: 0;
  background: #4367c4;
  color: #fff;
  border-radius: 10px;
}
